*{
  margin: 0;
  padding: 0;
}


body {
  background-color: #D6EAF8;
}
.house:hover {
  background-color: white;
}

#name {
  font-size: 35px;
  margin-top: .5%;
  text-align: center;
}
#choosing-first-title {
  border: 1px solid black;
  background-color: #DDE0D7;
  font-size: 20px;
  color: #01AABC;
  width: 50%;
  margin-left: 25%;
  margin-top: 2%;
  text-align: center;
}
#yellow-first {
  margin-left: 40%;
  margin-right: auto;
  width: 10%;
  margin-top: 1%;
  margin bottom: 10%;
  background-color: #DDE0D7;
  border: 1px solid black;
  color: #01AABC;
  font-size: 15px;
}
#yellow-first:hover {
  background-color: #E2D3DF;
  color: black;
  cursor: pointer;
  box-shadow: 0.3em 0.3em 0.3em #777777;
}
#red-first {
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  margin-top: 1%;
  margin bottom: 10%;
  background-color: #DDE0D7;
  border: 1px solid black;
  color: #01AABC;
  font-size: 15px;
}
#red-first:hover {
  background-color: #E2D3DF;
  color: black;
  cursor: pointer;
  box-shadow: 0.3em 0.3em 0.3em #777777;
}
.container  {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
}

.column {
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
  height: 980px;
  width: 900px;
  background-color: #455FE0;
  border: 3px solid black;
}

.circle {
  border: 1px solid rgba(0, 0, 0, 0.75);
  font-size: 96px;
  height: 70px;
  line-height: 150px;
  user-select: none;
  width: 55px;
  border-radius: 50%;
  border: 2px solid black;
  background: white;
}

.circle:hover {
  background-color: #E2D3DF;
  cursor: pointer;
}

#scoreBoard{
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  margin: auto;
}
.scores {
  border: 2px solid black;
  width: 20%;
  background-color: #DDE0D7;
    text-align: center;
}
.redScore ,
.yellowScore {
  border-bottom: 2px solid black;
  font-size: 20px;
}
#redScore ,
#yellowScore {
  color: #01AABC;
  font-size: 17px;
}

#board {
  background-color: #D6EAF8
}
